<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSection" type="Websosanh.Core.Drivers.Redis.Configuration.RedisSection, Websosanh.Core.Drivers.Redis" />
    <section name="RabbitMQSection" type="Websosanh.Core.Drivers.RabbitMQ.Configuration.RabbitMQSection, Websosanh.Core.Drivers.RabbitMQ" />
    <section name="CachingSection" type="Websosanh.Core.Drivers.Caching.Configuration.CachingSection, Websosanh.Core.Drivers.Caching" />
  </configSections>
  
  <appSettings>
    <add key="NoSqlHtml" value="192.168.100.48,192.168.100.49,192.168.100.50" />
    <add key="CrawlrProductReloadQueueJob" value="CrawlerProductReload" />
    
    <add key="searchEnginesServiceUrl" value="http://172.22.1.99:8080/" />
    <add key="AllowSaveProductInfoInRedis" value="True" />
    <add key="ShowButtonNotVisibleProduct" value="False" />

    <add key="updateProductGroupName" value="UpdateProductBatch" />
    <add key="updateProductToWebJobName" value="UpdateProduct.Merchant" />
    
    <add key="updateProductGroupName_ChangePrice" value="ChangePriceExchange" />
    <add key="updateProductJobName_ChangePrice" value="ChangePriceQueue" />
    
    <!--JobClient Send IDProduct To Service Update Solr and Redis-->
    <add key="updateProductGroupNameSingle" value="UpdateProduct" />
    <add key="updateProductToWebJobNameSingle" value="UpdateProduct.ToWeb" />

    <add key="updateProductGroupName_AddProduct" value="AddProductExchange" />
    <add key="updateProductJobName_AddProduct" value="AddProductQueue" />

    <!--Rabbit-->
    <add key="rabbitMQServerName" value="rabbitMQ177" />
    <add key="updateProductGroupName" value="UpdateProductBatch" />
    <add key="updateProductToWebJobName" value="UpdateProduct.Merchant" />
    <add key="updateProductToWebJobExpirationMS" value="3500000" />
    
    <!--exchange Download Image-->
    <add key="updateProductImageGroupName" value="UpdateImageBatch" />
    <add key="updateProductImageProductJobName" value="UpdateProduct.ChangeImageProduct" />
    <add key="updateProductImageProductSPGocJobName" value="UpdateProduct.ChangeImageProductSPGoc" />
    <add key="updateProductImageCompanyJobName" value="UpdateProduct.ChangeImageCompany" />

    <add key="updateProductChangePriceGroupName" value="UpdateChangePriceBatch" />
    <add key="updateProductChangePriceJobName" value="UpdateProduct.ChangePrice" />
    
    <add key="UpdatedProduct" value="UpdatedProduct" />
    <add key="UpdatedProductChangePrice" value="UpdatedProduct.ChangePrice.#" />
    
    <!--exchange check rank-->
    <add key="rankKeywordGroupName" value="UpdateKeywordBatch" />
    <add key="checkRankKeywordJobName" value="UpdateKeyword.CheckRank" />
    <!--ParameterCrawlProductSystem-->
    <add key="MaxThreadCrawler" value="30" />
    <add key="CrawlerReload" value="True" />

    <!--RabbitMQ-->
    <add key="RabbitMQ_Host" value="10.0.0.135" />
    <add key="RabbitMQ_Port" value="5672" />
    <add key="RabbitMQ_User" value="manhdx" />
    <add key="RabbitMQ_Pass" value="123456a@" />
    <add key="QueueNameCrawler" value="TaskCrawler_FindNewProduct1" />

    <add key="AllowAutoCrawler" value="False" />

    <!--RedisDb-->


    <!--<add key="RedisDB_Host" value="10.0.0.135" />
    <add key="RedisDB_Port" value="6379" />-->

    <!--Connection-->
    <add key="Crawler_manhdxConnectionString" value="Data Source=183.91.14.82;Initial Catalog=QT_2;Persist Security Info=True;User ID=qt_crawler;Password=11qsQEF4sJx@l9@ryJt9MT;connection timeout=5000" />
    <add key="ConnectionProduct" value="Data Source=42.112.28.93;Initial Catalog=QT_2;Persist Security Info=True;User ID=wss_price;Password=HzlRt4$$axzG-*UlpuL2gYDu;connection timeout=200" />

    <!--NodeID-->
    <add key="NodeID" value="Node01" />

    <add key="SecondWaitToConnect" value="10" />
    <add key="MinHourCrawlNew" value="3" />
    <!--ParameterCrawlProductSystem-->

    <add key="server" value="local" />
    <!--<add key="FolderImage" value="C:\\img\\" />-->
    <add key="FolderImage" value="D:\Image\" />
    <add key="FolderThumbImage" value="F:\img.websosanh.net\ThumbImages\Store\" />
    <add key="DowloadFullImage" value="false" />
    <add key="totalProductLoadImage" value="500" />
    <add key="Domain" value="http://websosanh.vn/" />
    <add key="solrProducts2" value="http://172.22.1.99:8983/solr/products" />
    <add key="solrKeywords" value="http://172.22.1.99:8983/solr/keywords" />
    <add key="solrProducts" value="http://172.16.34.90:8983/solr/products,http://172.16.34.91:8983/solr/products" />
    <add key="redisProductMap" value="redis6379" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="conUser" value="Data Source=42.112.28.93;Initial Catalog=QT_User;Persist Security Info=True;User ID=wss_user;Password=HzlRt4$$axzG-*UlpuL2gYDu" />

    <!--Tai khoan FTP cua server anh 183.91.14.84-->
    <add key="StoreImageHostIP" value="ftp://183.91.14.84" />
    <add key="StoreImageUserAcount" value="storeimage" />
    <add key="StoreImagePassword" value="wssadmin2015" />

    <add key="StoreImageThumbHostIP" value="ftp://183.91.14.84" />
    <add key="StoreImageThumbUserAcount" value="storeimagethumb" />
    <add key="StoreImageThumbPassword" value="wssadmin2015" />
    <add key="StoreImageThumbSize" value="_140" />

    <add key="SPGocImageHostIP" value="ftp://183.91.14.84" />
    <add key="SPGocImageUserAcount" value="spgocimage" />
    <add key="SPGocImagePassword" value="wssadmin2015" />

    <add key="SPGocImageThumbHostIP" value="ftp://183.91.14.84" />
    <add key="SPGocImageThumbUserAcount" value="spgocimagethumb" />
    <add key="SPGocImageThumbPassword" value="wssadmin2015" />
    <add key="SPGocImageThumbSize" value="_140" />

    <add key="ProductStoreImageHostIP" value="ftp://183.91.14.84" />
    <add key="ProductStoreImageUserAcount" value="productstoreimage" />
    <add key="ProductStoreImagePassword" value="wssadmin2015" />

    <add key="ProductStoreImageThumbHostIP" value="ftp://183.91.14.84" />
    <add key="ProductStoreImageThumbUserAcount" value="productstoreimagethumb" />
    <add key="ProductStoreImageThumbPassword" value="wssadmin2015" />
    <add key="ProductStoreImageThumbSize" value="_140" />

    <add key="RegexProductStatus" value="^liên hệ$:0;(?i)còn hàng|sẵn hàng|có hàng|có sẵn|mua ngay:1;(?i)hết hàng|hết hạn|hết sạch|đã dừng bán|tạm hêt hàng|Tạm hết hàng|hàng tạm hết|chưa có|chờ hàng về|(?i)Tạm hết|(?i)Không:2;đặt hàng|yêu cầu:3;chưa xác định:4" />
    
    
    <add key="regexWebsite" value="^([0-9A-Za-z]{2,}\.[comnet]{3}\.[vn]{2}|[0-9A-Za-z]{2,}\.[comvnet]{2,3})$" />
  </appSettings>
  <RedisSection>
    <RedisEndpoints>
      <add name="redisQueueFindNew" endpoints="172.22.1.75:6379" />
      <add name="redis11313" endpoints="172.22.1.175:11313" />
      <add name="redis6379" endpoints="192.168.100.175:11319" />
      <add name="redisErrorDownloadImageProduct" endpoints="192.168.100.185:11311" />
      <add name="redisPriceLog" endpoints="172.22.1.175:11319" />
      <add name="redisProductNameHashMapping" endpoints="172.22.1.175:11318" />
      <add name="redisCacheCrawlerProduct" endpoints="172.22.1.75:6379" />
      <add name="redisCacheCompany" endpoints="172.22.1.75:6379" />
      <add name="redisCacheCrawlerDuplicate" endpoints="172.22.1.75:6379" />
      <add name="redisCompanyWaitCrawler" endpoints="172.22.1.75:6379" />
      <add name="redisLastUpdateProductInCompany" endpoints="172.22.1.75:6379" />
      <add name="cacheTrackValidProduct" endpoints="172.22.1.75:6379" />
      <add name="redisVisitedCrcFN" endpoints="172.22.1.75:6379" />
    </RedisEndpoints>
  </RedisSection>

  <CachingSection>
    <CachingServers>
      <add name="WebMerchantProduct" redis="redis11313" database="1" timeExpiredMs="840000000" />
    </CachingServers>
  </CachingSection>
    
  <RabbitMQSection>
    <RabbitMQEndpoints>
      <add serverName="RabbitMqCrawlerProduct" username="xuantrang" password="gettime123" hostName="172.22.1.78" port="5672" virtualHost="/CrawlerProduct" />
      <add serverName="rabbitLogQueueVisit" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
      <add serverName="rabbitMQKeywordSuggest" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
      <add serverName="rabbitMQLogCrawler" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
      <add serverName="rabbitMQLogProduct" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
      <add serverName="rabbitMQ177" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
      <add serverName="rabbitMQ_ChangeDesciption" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" /> 
      <add serverName="rabbitMQ_Notification" username="websosanh" password="123456a@" hostName="172.22.0.177" port="5672" virtualHost="JobQueue" />
      <add serverName="rabbitLogQueueWarningFindNew" username="websosanh" password="123456a@" hostName="172.22.1.177" port="5672" virtualHost="/JobServer" />
     
    </RabbitMQEndpoints>
  </RabbitMQSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICoreApplication" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="18192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://static2.websosanh.vn/Api/Admin/CoreApplication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoreApplication" contract="ServiceCoreApplication.ICoreApplication" name="BasicHttpBinding_ICoreApplication" />
    </client>
  </system.serviceModel>


  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
